<form *ngIf="!isHandset" [formGroup]="newBookmarkFormGroup" (ngSubmit)="onSubmit()" class="new-form">
  <mat-form-field class="url-input-field">
    <mat-label>https://...</mat-label>
    <input matInput formControlName="bookmark">
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    [disabled]="disabled"
  >
    ADD
  </button>
</form>

<div
  *ngIf="isHandset"
  class="button-floating"
>
  <button
    mat-fab
    color="primary"
    (click)="showDialog()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>


<router-outlet></router-outlet>
