.new-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  padding: 12px;

  .url-input-field {
    width: 600px;
    margin-right: 12px;
  }
}

.button-floating {
  z-index: 1;
  position: fixed;
  display : flex;
  align-self : flex-end;
  margin-bottom: 16px;
  bottom : 1rem;
  right: 2rem;
}
