<app-authentication-wrapper>
  <app-authentication-wrapper-side>
    <img src="https://download.blender.org/branding/blender_logo_socket.png" class='logo' alt='logo'>
    <app-authentication-form [formGroup]="registerFormGroup" (submit)="onSubmit()" title="Sign Up">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input type="text" matInput formControlName="firstName">
        <mat-error *ngIf="firstNameControl.hasError('required')">
          First Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput formControlName="lastName">
        <mat-error *ngIf="lastNameControl.hasError('required')">
          Last Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailControl.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="passwordControl.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
      <span *ngIf='generalError' class="error">{{this.generalError}}</span>
      <button mat-raised-button color="primary" type="submit">Sign Up</button>
    </app-authentication-form>
    <div class='actions'>
      <div>Already have an account? <a routerLink="/login">Sign In here</a></div>
    </div>
  </app-authentication-wrapper-side>
  <app-authentication-wrapper-side class="cover">
    <img src='../../../../../../assets/login.png' alt="Login image" class="image">
    <app-authentication-redirect-button (click)="redirectToLogin()">Sign In</app-authentication-redirect-button>
  </app-authentication-wrapper-side>
</app-authentication-wrapper>
