.image {
  width: 100%;
  border-left: 1px solid #ccc;
}

.logo {
  width: 300px;

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.actions {
  div {
    text-align: center;
    margin-top: 1rem;
  }
}

.cover {
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.error {
  color: red;
  padding-bottom: 12px;
}

mat-form-field {
  width: 80%;
  margin-bottom: 4px;
}

button {
  width: 200px;
  height: 50px;
  border-radius: 32px;
}
