<form [formGroup]="newBookmarkFormGroup" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <input
      matInput
      placeholder="https://..."
      type="text"
      formControlName="bookmark"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!newBookmarkFormGroup.valid"
  >
    ADD
  </button>
</form>

<app-bookmarks-list
  [bookmarks]="bookmarks"
  (onFavoriteToggle)="toggleFavoriteBookmark($event)"
  (onArchiveToggle)="toggleArchiveBookmark($event)"
  (onDeleteToggle)="deleteBookmark($event)"
></app-bookmarks-list>
