.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;

  .icon {
    font-size: 1.4rem;
    margin-right: 4px;
  }

  .actions {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 8px;

    .icon {
      transform: scale(0.8);
      color: #808080;
      margin: 0;
      cursor: pointer;
    }
  }

  &:hover {
    .actions {
      visibility: visible;
    }
  }
}

.no-records {
  text-align: center;
  padding-top: 24px;
}
