<div class="wrapper">
  <div class="image">
    <img *ngIf="bookmark.image" [src]="bookmark.image" alt="bookmarkImage" class="image"/>
    <div *ngIf="!bookmark.image" class="image empty"></div>
  </div>
  <div class="content">
    <div>
      <div>{{ bookmark.title ? bookmark.title : bookmark.url  }}</div>
      <span *ngFor="let label of bookmark.labels" class="tag">
        <a [routerLink]="generateTagUrl(label)">#{{label.title}}</a>
      </span>
      <div class="meta">
        <span class="item">
          <mat-icon class="icon" inline>laptop</mat-icon>
          <span class="text">{{baseUrl}}</span>
        </span>
      </div>
    </div>
    <div *ngIf='!isHandset' class="actions">
      <span (click)="favoriteBookmark()">
        <mat-icon color="primary">{{bookmark.isFavorite ? 'favorite' : 'favorite_border'}}</mat-icon>
      </span>
      <span (click)="archiveBookmark()">
        <mat-icon>{{bookmark.isArchived ? 'add' : 'save'}}</mat-icon>
      </span>
      <span (click)="openTagDialog()">
        <mat-icon>tag</mat-icon>
      </span>
      <span (click)="deleteBookmark()">
        <mat-icon>delete</mat-icon>
      </span>
    </div>
    <div *ngIf='isHandset' class="actions-handset">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)='favoriteBookmark()'>{{bookmark.isFavorite ? 'Remove from Favorites' : 'Add to Favorites'}}</button>
        <button mat-menu-item (click)='archiveBookmark()'>{{bookmark.isArchived ? 'Remove from Archived' : 'Add to Archive'}}</button>
        <button mat-menu-item (click)='openTagDialog()'>Edit Tags</button>
        <button mat-menu-item (click)='deleteBookmark()'>Delete</button>
      </mat-menu>
    </div>
  </div>
</div>
