@use 'sass:map';
@use '~@angular/material' as mat;

@mixin theme-color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');
  $accent-palette: map.get($color-config, 'accent');

  $primary-color: mat.get-color-from-palette($primary-palette, 500);
  $accent-color: mat.get-color-from-palette($accent-palette, 400);

  .background-primary {
    background-color: $primary-color;
  }

  .foreground-primary {
    color: $primary-color;
  }

  .background-accent {
    background-color: $accent-color;
  }

  .foreground-accent {
    color: $accent-color;
  }

  .mat-raised-button, .mat-fab {
    &.mat-primary {
      color: #FFF;
    }
  }

  a {
    &.simple-link {
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .wrapper-success {
    background-color: #55b559;
  }

  .wrapper-error {
    background-color: #f55145;
  }

  .gradient-background {
    background: linear-gradient(135deg, #ff9800 0%, #762dfd 100%)
  }
}

@mixin app-theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include theme-color($theme);
  }
}
