<a routerLink="/user" class="sidenav-item link" [routerLinkActive]="['active']">
  <span class="icon"><mat-icon matListIcon inline>account_circle</mat-icon></span>
  <span class="title">{{currentUser.firstName}} {{currentUser.lastName}}</span>
</a>
<mat-divider></mat-divider>
<a routerLink="/bookmarks/my-list" class="sidenav-item link" [routerLinkActive]="['active']">
  <span class="icon"><mat-icon matListIcon inline>cloud_queue</mat-icon></span>
  <span class="title">All bookmarks</span>
</a>
<a routerLink="/bookmarks/favorites" class="sidenav-item link" [routerLinkActive]="['active']">
  <span class="icon"><mat-icon matListIcon inline>star_outline</mat-icon></span>
  <span class="title">Favorites</span>
</a>
<a routerLink="/bookmarks/archived" class="sidenav-item link" [routerLinkActive]="['active']">
  <span class="icon"><mat-icon matListIcon inline>link_off</mat-icon></span>
  <span class="title">Archived</span>
</a>
<mat-divider></mat-divider>
<span class="sidenav-item">
  <span class="icon"> <mat-icon matListIcon inline>tag</mat-icon></span>
  <span class="title">Tags</span>
</span>

<a *ngFor="let label of labels" [routerLink]="generateLabelURL(label)" class="sidenav-item link" [routerLinkActive]="['active']">
  <span class="icon label-icon"> <mat-icon matListIcon inline>tag</mat-icon></span>
  <span class="title">{{label.title}}</span>
</a>
