.sidenav-container {
  flex: 1;
  height: 100%;

  .sidenav {
    width: 200px;
    background-color: #f6f5f4;
  }

  .sidenav-content {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
  }
}
