.sidenav-container {
  flex: 1;
  height: 100%;

  .sidenav {
    width: 250px;
    background-color: #f6f5f4;
  }
  .sidenav-content {
    background-color: rgba(255, 152, 0, 0.1);

    .menu {
      cursor: pointer;
      color: #FFF;
    }

    .toolbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: sticky;
      top: 0;
      z-index: 5;
    }
  }
}
