.sidenav-container {
  flex: 1;
  height: 100%;

  .sidenav {
    width: 250px;
    background-color: #f6f5f4;
  }

  .sidenav-content {
    background-color: #FFF;

    .menu {
      cursor: pointer;
      color: #FFF;
    }
  }
}
