@import "variables";

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  padding: 7rem 10rem;
  @media screen and (max-width: $small-screen) {
    padding: 0;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 2rem 0;

    @media screen and (max-width: $small-screen) {
      height: 100%;
      border-radius: 0;
    }
  }
}
