<app-dialog-container>
  <app-dialog-title>Add Tags</app-dialog-title>
  <app-dialog-content>
    <div class="labels">
      <span *ngIf="loading">Loading tags...</span>
      <span *ngIf="!loading">
        <span class="label" *ngFor="let label of selectedLabels" (click)="removeLabel(label.id)">#{{label.title}}</span>
      </span>
      <form *ngIf="!loading">
        <mat-form-field appearance="standard">
          <input type="text"
                 placeholder="Add tags..."
                 matInput
                 [formControl]="inputControl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
            <mat-option *ngFor="let option of filteredOptions | async" [id]="option.id" [value]="option.title">
              {{option.title}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </app-dialog-content>
  <app-dialog-actions>
    <app-dialog-action (onClick)="onClose()">Cancel</app-dialog-action>
    <app-dialog-action color="primary" (onClick)="onSubmit()">Save</app-dialog-action>
  </app-dialog-actions>
</app-dialog-container>
