.labels {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  border: 1px solid #ccc;
  padding: 0 8px;
  overflow-x: auto;
  overflow-y: hidden;

  .label {
    margin: 0 4px;
    cursor: pointer;

    &:hover {
      text-decoration: line-through;
      color: red;
    }
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}
